absl-py==1.3.0
altair==5.1.2
asttokens==3.0.0
astunparse==1.6.3
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
backcall==0.2.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.7.0
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools==5.2.0
certifi @ file:///C:/b/abs_8a944p1_gn/croot/certifi_1738623753421/work/certifi
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
cloudpickle @ file:///C:/b/abs_8abv3sva4p/croot/cloudpickle_1721657372632/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
cvxopt==1.3.0
cvxpy==1.3.0
decorator==5.2.1
defusedxml==0.7.1
docopt==0.6.2
ecos==2.0.12
executing==2.2.0
fancyimpute==0.7.0
fastjsonschema==2.21.1
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
grpcio==1.50.0
idna==3.10
imbalanced-learn==0.9.1
imblearn==0.0
importlib_metadata==8.6.1
ipython==8.12.3
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_10zs3i4lof/croot/jinja2_1737760123028/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
jsonschema @ file:///C:/b/abs_394_t6__xq/croot/jsonschema_1728486718320/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
Keras-Preprocessing==1.1.2
knnimpute==0.1.0
libclang==14.0.6
lightgbm==3.3.5
llvmlite @ file:///C:/b/abs_f3j56f9uqa/croot/llvmlite_1736369631156/work
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib-inline==0.1.7
mdurl==0.1.2
mice==0.1.30
mistune==3.1.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mlxtend==0.23.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numba @ file:///C:/b/abs_1dpzbo61fc/croot/numba_1738606637211/work
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp39-cp39-win_amd64.whl#sha256=f284633067fde4bb078a09085a1c9e99a3218c129f5312b7b3d76c9340442a25
oauthlib==3.2.2
opt-einsum==3.3.0
osqp==0.6.2.post8
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
pandas @ file:///C:/b/abs_e18w9ay4we/croot/pandas_1732735115740/work/dist/pandas-2.2.3-cp39-cp39-win_amd64.whl#sha256=f3b41dc9b2687250cbbb5587843986d13008da63bfb026b34d05d4d2f3eab666
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
pipreqs==0.5.0
platformdirs==4.3.6
plotly-express==0.4.1
prompt_toolkit==3.0.50
protobuf==4.25.3
pure_eval==0.2.3
pyarrow==14.0.0
pydeck==0.8.1b0
pygbm==0.1.0
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytorch-tabnet==4.0
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pywin32==308
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq==25.1.2
qdldl==0.1.5.post3
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
requests-oauthlib==1.3.1
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
rpds-py @ file:///C:/b/abs_0c6z5kcdb6/croot/rpds-py_1736545465023/work
rsa==4.9
scikit-learn==1.1.3
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733774324044/work/dist/scipy-1.13.1-cp39-cp39-win_amd64.whl#sha256=f7218697f964ae4372cdcb6f20a05db0d338ccc574c96e9dbf235ed6547dd462
scs==3.2.2
shap==0.44.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.7
smmap==5.0.1
soupsieve==2.6
stack-data==0.6.3
streamlit @ file:///C:/b/abs_85fcdsuzol/croot/streamlit-split_1740431233321/work/streamlit
tenacity==8.2.3
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tinycss2==1.4.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///C:/b/abs_57avamxh36/croot/toolz_1736796279321/work
torch==1.13.1
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
traitlets==5.14.3
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata==2023.3
tzlocal==5.2
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
validators==0.22.0
watchdog @ file:///C:/b/abs_29_7vso69r/croot/watchdog_1740409940307/work
wcwidth==0.2.13
webencodings==0.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
xgboost==1.7.1
yarg==0.1.9
zipp==3.21.0
